<mat-card class="card mat-elevation-z8">
    <mat-card-header>
    
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Sistema de chamados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image home Help Desk">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema Help Desk desenvolvido por mim para praticar a integração entre backend e frontend.<br />
        Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular 12 e
        Spring Boot 2.
        O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
        Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
      <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
      <br /> At.te: Jeronima Floriano
      </p>
    </mat-card-content>
  </mat-card>
  
